<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Congratulations</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex text-white justify-center items-center h-screen bg-zinc-900">
    <div class="text-center">
        <h1 class="text-4xl font-bold mb-5">You are in, congratulations!</h1>
        <a href="/login" class="inline-block px-6 py-2 rounded-md bg-blue-500 text-white hover:bg-blue-600">Go to Login</a>
    </div>
</body>
</html>
